@import "tailwindcss";

@source "../views/**/*.blade.php";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source "../js/**/*.tsx";

@plugin "daisyui";
